<div class="card" style="object-fit: none">
  <div class="card-header">
    <div class="card-title fw-bold">Total number of survey participants: {{ count_of_vouted_users }}</div>
  </div>
</div>

<div class="card" style="object-fit: none">
  <div class="card-body">
    <h5 class="card-title">SURVEY RESULTS BY QUESTIONS</h5>
    <table class="table table-hover">
    <thead>
      <tr>
        <th scope="col">Номер вопроса</th>
        <th scope="col">Текст вопроса</th>
        <th scope="col">Количество проголосовавших пользователей</th>
        <th scope="col">% от проголосовавших</th>
        <th scope="col">Рэйтинг вопроса</th>
      </tr>
    </thead>
      <tbody>
        {% for a in analytics_by_questions %}
          <tr>
            <th scope="row">{{a.question_id}}</th>
            <td>{{a.q_body}}</td>
            <td>{{a.users_count}}</td>
            <td>{{a.users_pct}}</td>
            <td>{{a.rating}}</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>

<div class="card" style="object-fit: none">
  <div class="card-body">
    <h5 class="card-title">SURVEY RESULTS BY ANSWERS</h5>
    <table class="table table-hover">
    <thead>
      <tr>
        <th scope="col">Номер вопроса</th>
        <th scope="col">Номер ответа</th>
        <th scope="col">Текст ответа</th>
        <th scope="col">Количество проголосовавших пользователей</th>
        <th scope="col">% от проголосовавших</th>
        <th scope="col">Рэйтинг вопроса</th>
      </tr>
    </thead>
      <tbody>
        {% for a in analytics_by_answers %}
          <tr>
            <th scope="row">{{a.question_id}}</th>
            <td>{{a.a_id}}</td>
            <td>{{a.a_body}}</td>
            <td>{{a.users_count}}</td>
            <td>{{a.users_pct}}</td>
            <td>{{a.rating}}</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>
