<div class="card" style="object-fit: none">
  <div class="card-header">
    <div class="card-title fw-bold">{{ total_number_of_survey_participants }}: {{ count_of_vouted_users }}</div>
  </div>
</div>

<div class="card" style="object-fit: none">
  <div class="card-body">
    <h5 class="card-title">{{ survey_results_by_questions }}</h5>
    <table class="table table-hover">
    <thead>
      <tr>
        <th scope="col">{{ question_number }}</th>
        <th scope="col">{{ question_text }}</th>
        <th scope="col">{{ number_voted_users }}</th>
        <th scope="col">{{ pct_of_voters }}</th>
        <th scope="col">{{ question_rating }}</th>
      </tr>
    </thead>
      <tbody>
        {% for a in analytics_by_questions %}
          <tr>
            <th scope="row">{{a.question_id}}</th>
            <td>{{a.q_body}}</td>
            <td>{{a.users_count}}</td>
            <td>{{a.users_pct}}</td>
            <td>{{a.rating}}</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>

<div class="card" style="object-fit: none">
  <div class="card-body">
    <h5 class="card-title">{{ survey_results_by_answers }}</h5>
    <table class="table table-hover">
    <thead>
      <tr>
        <th scope="col">{{ question_number }}</th>
        <th scope="col">{{ answer_number }}</th>
        <th scope="col">{{ answer_text }}</th>
        <th scope="col">{{ number_voted_users }}</th>
        <th scope="col">{{ pct_of_voters }}</th>
        <th scope="col">{{ answer_rating }}</th>
      </tr>
    </thead>
      <tbody>
        {% for a in analytics_by_answers %}
          <tr>
            <th scope="row">{{a.question_id}}</th>
            <td>{{a.a_id}}</td>
            <td>{{a.a_body}}</td>
            <td>{{a.users_count}}</td>
            <td>{{a.users_pct}}</td>
            <td>{{a.rating}}</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>
