{% extends 'survey/base.html' %}

{% block content %}
{% include 'survey/questionnaire_description.html' %}
<div class="list-group">
  <div class="list-group-item list-group-item-action active" aria-current="true">
    {{ question.body }}
  </div>
  {% if is_final %}
    {% include 'survey/analytics.html' %}
    <a href="/" class="btn btn-primary">Back to the list of polls</a>
  {% else %}
    {% for a in answers %}
      <form action="/poll/{{ question.questionnaire_id }}/question/{{ a.next_question_id }}/?last_question={{ question.pk }}&last_answer={{ a.pk }}" method="post">
        {% csrf_token %}
        {% if voted %}
          <div class="list-group-item">{{a.body}}</div>
        {% else %}
          <button class="list-group-item list-group-item-action" type="submit" value="OK">{{a.body}}</button>
        {% endif %}
      </form>
    {% endfor %}
  {% endif %}
</div>
{% endblock %}
