{% extends 'survey/base.html' %}

{% block content %}
  {% if user_is_staff %}
    {% include 'survey/questionnaire_description.html' %}
    {% include 'survey/analytics.html' %}
    <div class="list-group">
      <a href="/" class="btn btn-primary">Back to the list of polls</a>
    </div>
  {% else %}
    <div class="card" style="object-fit: none">
      <div class="card-body">
        <h5 class="card-title">{{ questionnaire.caption }}</h5>
        <p class="card-text">{{ questionnaire.description }}</p>
        {% if completed %}
          <p class="fst-italic text-bg-warning p-3">You have already completed the survey</p>
        {% else %}
          <form action="/poll/{{ questionnaire.pk }}/question/{{ question.pk }}/" method="post">
            {% csrf_token %}
            <button class="btn btn-primary" type="submit" value="OK">Start</button>
          </form>
        {% endif %}
      </div>
    </div>
  {% endif %}
{% endblock %}
